@model Lab5.Models.ViewModels.SportClubViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportClubs.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportClubs.First().Fee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.SportClubs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-controller="News" asp-action="Index" asp-route-id="@item.Id">News</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.Fans.Any())
{
    <h2>Subscribers to the Sport Club</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fan in Model.Fans)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => fan.FullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
