@model Lab5.Models.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fans.FirstOrDefault().BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@if (ViewData["SelectedFanId"] != null)
{
    <h2>Member of the following SportClubs</h2>
    <table class="table">
        @if (!Model.SportClubs.Any())
        {
            <p> <b> No subscription record exists </b></p>

        }
        else
        {
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sportClub in Model.SportClubs)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => sportClub.Title)</td>
                </tr>
            }
        </tbody>
        }
    </table>
}